h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 120px ;
  font-weight: 700;
  margin: auto;
  text-transform: uppercase;
}

.short-snippit-about-me {
  font-family: 'Noto Sans', sans-serif;
  font-size: 31px ;
  font-weight: 400;
  margin: auto;
  margin-left: 300px;
  margin-right: 144px;
}

#contents {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px ;
  font-weight: 400;
  margin: auto;
  margin-top: -200px;
}

.titles {
  font-family: 'Noto Sans', sans-serif;
  font-size: 79px ;
  font-weight: 700;
}

.projects {
  font-family: 'Noto Sans', sans-serif;
  font-size: 26px ;
  font-weight: 400;
  margin: auto;
  margin-left: 200px;
  margin-right: 60px;
}

.labs {
  font-family: 'Noto Sans', sans-serif;
  font-size: 26px ;
  font-weight: 400;
  margin: auto;
  margin-left: 200px;
  margin-right: 60px;
}
