* {
    box-sizing: border-box;
  }
  
  .row {
    margin-bottom: 40px;
  }

  .grid {
      display: grid;
      grid-template-columns: 2fr;
  }
  
  .box {
    height: 100px;
  }

  .box-1 {
    width: 50%;
    font-size: 71px;
  }

  .box-2 {
    width: 30%;
    font-size: 20px;
    
  }

  .box-3 {
    border: 1px solid gray;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    font-size: 20px;
  }

  .random-picker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60px;
    width: 200px;
  }


