
  .home-grid {
    display: grid;
    grid-template-columns: 2fr ;
    grid-gap: 10px;
  }
  

  .home-grid-item {
    height: 600px;
  }

  body {
    background-color: black ;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 0.3fr 7fr 0.3fr;
    grid-gap: 10px;
  }
  
  .grid-item {
    height: 1200px;
  }

  .grid-inside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
  }

  .grid-item-inside {
    border: 1px solid black;
    height: 700px;
    background-color: black;
  }

  img {
    max-width: 70%;
    margin-left: 7px;
    
  }
  .modal {
  box-sizing: border-box;
  background-color: rgb(231, 120, 101);
  color: antiquewhite;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  }

  .modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  .modalContainer.show {
    pointer-events: auto;
    opacity: 1;
  }

  .flexbox {
    display: flex;
    height: 100%;
}

.flexbox-item {
    margin: auto;
    text-align: left;
    line-height: 1.5em;
}

header {
  font-family: 'PT Serif', serif;
  font-size: 200px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
  color: white;
}

.author {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-top: 113px;
  text-align: center;
}

.number {
  font-family: 'PT Serif', serif;
  font-size: 37px;
  color: white;
  
}


p{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}


