* {
    box-sizing: border-box;
}

body {
  background-color: rgb(255, 239, 219);
}

.grid {
    display: grid;
    grid-template-columns: .20fr 1fr ;
  
  }

  .page-header {
    font-family: 'Oi', cursive;
    grid-column: 1/-1;
    font-size: 100px;
    text-align: center;
    letter-spacing: 1em;
  }
  
  .page-sidebar {
    grid-column: 1 
  }

  li {
      line-height: 1.5em;
      font-size: 17px;
      font-family: 'Montserrat Alternates', sans-serif;
  }

  .page-main {
    grid-column: 2 / 3;
  }
  .page-footer {
    grid-column: 1 / -1;
  }

  p {
      text-align: center;
      font-size: 15px;
      font-family: 'Montserrat Alternates', sans-serif;
  }



.container {
    border: 7px solid black .1;
    display: flex;
    flex-wrap: wrap;
    height: 200vh;
    justify-content: center; 
    /* flex-direction: column; */
    
    
   
}

.box {
    border: 1px solid;
    padding: 0;
    text-align: center;
    width: calc(100% / 5);
}

@media screen and (max-width: 1024px) {
  .page-header {
    font-size: 90px;
    text-align: center;
    letter-spacing: 1em;
  }
  
  .container {
    display: block;
    height: 286.1vh;
   }

   .box {
    border: 1px solid;
    padding: 0;
    text-align: center;
    width: calc(100% / 1);
}
  li {
    line-height: 2em;
    font-size: 29px;
}

  p{
    font-size: 30px;
  }

}

@media screen and (max-width: 700px) {
  .page-header {
    font-size: 58px;
    text-align: center;
    letter-spacing: 1em;
  }
  
  .container {
    display: block;
    height: 480.1vh;
   }

   .box {
    border: 1px solid;
    padding: 0;
    text-align: center;
    width: calc(100% / 1);
}
  
}

@media screen and (max-width: 568px) {
  .page-header {
    font-size: 58px;
    text-align: center;
    letter-spacing: 1em;
  }
  
  .container {
    display: block;
    height: 480.1vh;
   }

   .box {
    border: 1px solid;
    padding: 0;
    text-align: center;
    width: calc(100% / 1);
}
 
}


@media screen and (max-width: 375px) {
  .page-header {
    font-size: 58px;
    text-align: center;
    letter-spacing: 1em;
  }
  
  .container {
    display: block;
    height: 480.1vh;
   }

   .box {
    border: 1px solid;
    padding: 0;
    text-align: center;
    width: calc(100% / 1);
  }
  li {
    font-size: 16px;
  }
  
}
