* {
    box-sizing: border-box;
}

body#page2 {
    background-color: #A6DB94;
}

body#page3 {
    background-color: #B0C0E9;
}

body#page4 {
    background-color: #F4AFED;
}

body#page5 {
    background-color: #DFBB5E;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid gray; */
    height: 100px;
    font-size: 40px;
    line-height: 1;
    padding: 13px;
    font-family: 'Suranna', serif;
}

.col-1 {
    width: 80%;
}

.col-2 {
    width: 50%;
    text-align: right;
    cursor: pointer;
}

img {
    pointer-events: none;
    position: absolute;
    z-index: -1;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

@keyframes MoveDownUp {
    0%, 100% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0);
    }
}


.plus {
    font-size: 55pt;
    font-weight: bold;
    padding: 1px 10px;
    border: none;
    background-color: transparent;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.direction {
    font-size: 20px;
    text-align: center;
    margin: -2px;
    color: rgb(0, 0, 0);
    line-height: 1;
    font-family: 'Suranna', serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.grid-item {
    /* border: 1px solid black; */
    height: 38000%;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grid-item2 {
    border: 1px solid black;
}

.flexbox {
    display: flex;
    height: 100%;
}

.flexbox-item {
    margin: auto;
    width: 100%;
}

.box1 {
    position: absolute;
    width: 271px;
    height: 356px;
    left: 83px;
    top: 211px;
    background: #A6DB94;
    border: 1px solid #000000;
    box-sizing: border-box;
    animation: MoveUpDown 5s linear infinite;
}

.box1:hover {
    animation-play-state: paused;
}

.box2 {
    position: absolute;
    width: 271px;
    height: 356px;
    left: 388px;
    top: 496px;
    background: #B0C0E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    animation: MoveDownUp 5s linear infinite;
}

.box2:hover {
    animation-play-state: paused;
}

.box3 {
    position: absolute;
    width: 271px;
    height: 356px;
    left: 693px;
    top: 211px;
    background: #F4AFED;
    border: 1px solid #000000;
    box-sizing: border-box;
    animation: MoveUpDown 5s linear infinite;
}

.box3:hover {
    animation-play-state: paused;
}

.box4 {
    position: absolute;
    width: 271px;
    height: 356px;
    left: 1025px;
    top: 496px;
    background: #DFBB5E;
    border: 1px solid #000000;
    box-sizing: border-box;
    animation: MoveDownUp 5s linear infinite;
}

.box4:hover {
    animation-play-state: paused;
}

.info-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    display: none;
    z-index: 10;
}

.about-site {
    font-size: 70px;
    line-height: 1;
    padding: 13px;
}

.back {
    font-size: 55pt;
    font-weight: bold;
    /* padding: 1px 10px; */
    border: none;
    background-color: transparent;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.prompt {
    font-size: 45px;
    line-height: 1;
    color: black;
    padding: 13px;
    font-family: 'Suranna', serif;
}

.diary-title {
    font-size: 30px;
    line-height: 1;
    padding: 13px;
    font-family: 'Suranna', serif;
}

.text-entry {
    width: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: 'Suranna', serif;
}

.text-entry-pink {
    background: #ffffff;
}

.text-entry-green {
    background: #ffffff;
}

.text-entry-yellow {
    background: #ffffff;
}

.text-entry-blue {
    background: #ffffff;
}

.textarea {
    width: 100%;
    height: 477px;
    padding: 10px 30px;
    border: 0px;
    font-size: 40px;
    font-family: inherit;
    line-height: 20pt;
    overflow: auto;
    outline: 0;
    line-height: 1;
    font-family: 'Suranna', serif;
    overflow-y: auto;
}

.submit-button {
    width: 100%;
    font-size: 20px;
    font-family: 'Suranna', serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    
}

@media screen and (max-width: 1024px) {
    .grid {
        display: block;
    }
    .grid2 {
        display: block;
    }
    .box1 {
        left: 200px;
    }
    .box2 {
        left: 550px;
        top: 600px;
    }
    .box3 {
        left: 200px;
        top: 990px;
    }
    .box4 {
        left: 550px;
        top: 1360px;
    }
    img {
        height: 123%;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        display: block;
    }
    .grid2 {
        display: block;
    }
    .box1 {
        left: 100px;
    }
    .box2 {
        left: 400px;
        top: 600px;
    }
    .box3 {
        left: 100px;
        top: 990px;
    }
    .box4 {
        left: 400px;
        top: 1360px;
    }
    img {
        height: 160%;
    }
}

@media screen and (max-width: 414px) {
    .grid {
        display: block;
    }
    .grid2 {
        display: block;
    }
    .box1 {
        left: 100px;
    }
    .box2 {
        left: 330px;
        top: 600px;
    }
    .box3 {
        left: 100px;
        top: 990px;
    }
    .box4 {
        left: 330px;
        top: 1360px;
    }
    img {
        width: 156%;
        height: 230%;
    }
    .col {
        font-size: 30px;
    }
    .col-1 {
        width: 75%;
    }
    .col-2 {
        width: 10%;
    }
    .title {
        font-size: 80px;
        width: 90%;
    }
    .info {
        font-size: 80px;
    }
}

@media screen and (max-width: 375px) {
    .grid {
        display: block;
    }
    .grid2 {
        display: block;
    }
    .box1 {
        left: 100px;
    }
    .box2 {
        left: 240px;
        top: 600px;
    }
    .box3 {
        left: 100px;
        top: 990px;
    }
    .box4 {
        left: 240px;
        top: 1360px;
    }
    img {
        height: 205%;
    }
    .col {
        font-size: 30px;
    }
    .col-1 {
        width: 75%;
    }
    .col-2 {
        width: 10%;
    }
    .title {
        font-size: 80px;
        width: 90%;
    }
    .info {
        font-size: 80px;
    }
}